<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <meta charset="UTF-8"/>
    <title>Formulario Filme</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <form th:action="@{/filme/salvar}" th:object="${filme}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" th:field="*{nome}"/>
                    <span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="badge badge-danger" >erro</span>
                </div>
                <div class="form-group">
                    <label for="inputAno">Ano de lançamento</label>
                    <input type="text" class="form-control" id="inputAno" th:field="*{ano}"/>
                </div>
                <div class="form-group">
                    <label for="inputDiretor">Diretor</label>
                    <select class="form-control" id="inputDiretor" th:field="*{diretor}">
                        <option value="">Selecione o diretor</option>
                        <option th:each="diretor : ${diretores}" th:value="${diretor.id}" th:text="${diretor.nome}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAtores">Atores</label>
                    <select multiple="multiple" class="form-control" id="inputAtores" th:field="*{atores}">
                        <option th:each="ator : ${atores}" th:value="${ator.id}" th:text="${ator.nome}"></option>
                    </select>
                </div>
                <a th:href="@{/filme}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>